<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.virgen.peregrina.VirgenPeregrinaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Virgenperegrinaapp">
        <activity
            android:name="com.virgen.peregrina.ui.replica_list.create.CreateReplicaActivity"
            android:exported="false" />
        <activity
            android:name="com.virgen.peregrina.ui.guidelines.GuidelinesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.virgen.peregrina.ui.pilgrimage.PilgrimageDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.virgen.peregrina.ui.pilgrimage.PilgrimageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.virgen.peregrina.ui.replica_details.ReplicaDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.virgen.peregrina.ui.replica_list.ReplicasListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.virgen.peregrina.ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.virgen.peregrina.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.virgen.peregrina.MainActivity"
            android:exported="true" />
    </application>

</manifest>